body {
    display: flex;
    margin: 0 auto;
    background-color: #FAFBFF;
    width: 1440px;
}

.side-menu {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 250px;
    height: 1198px;
    padding: 36px 28px 76px;
    background: #FFF;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);
    border-radius: 20px 0 0 20px;
}

.logo {
    height: 39px;
    padding-bottom: 44px;
    display: flex;
    align-items: center;
}

.logo svg {
    padding: 0 8px 0 0;
}

.logo-item {
    display: flex;
    align-items: baseline;
}

.logo-item h1 {
    color: #000;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.26px;
}

.logo-item span {
    color: #838383;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.1px;
    padding: 0 4px;
}

.nav-menu {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-menu .list-menu {
    color: #9197B3;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.list-menu {
    width: 228px;
    height: 24px;
    padding: 11px 8px 11px 11px;
    margin: 9px 0;
    border-radius: 8px;
    justify-content: space-between;
}

.list-menu-item svg {
    padding: 0 14px 0 0;
}

.list-menu-item {
    display: flex;
    align-items: center;
}

.nav-menu :hover svg path {
    /* color:#fff; */
    /* fill:#FFF; */
    stroke: #fff;
}

.nav-menu :hover {
    background-color: #5932EA;
    color: #fff;
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    width: 42px;
    height: 42px;
    margin-right: 12px;
    border-radius: 42px;
}

.user-position h3 {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
    margin: 0px;
}

.user-position p {
    color: #757575;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    margin: 0px;
}



.page-customers h1 {

    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.all-customers {
    width: auto;
    padding: 30px 40px 40px 38px;
    border-radius: 28px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.50));
}


.all-customers h2 {
    margin: 3.5px 0;
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.22px;
}

.all-customers p {
    margin: 3.5px 0;
    color: #16C098;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
}

table {
    width: 100%;
    text-align: justify;
    border-collapse: collapse;
}

th {
    padding: 37px 24px 14px 24px;
    color: #B5B7C0;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
}

td {
    padding: 24px;
    color: #292D32;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;

}

tr {
    border-bottom: 1px solid #eee;
}

table td:last-child {
    padding-right: 0;
    text-align: center;
}

table th:last-child {
    padding-right: 0;
    text-align: center;
}

table td:first-child {
    padding-left: 0;
}

table th:first-child {
    padding-left: 0;
}

.active {
    color: #008767;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    border-radius: 4px;
    border: 1px solid #00B087;
    background: rgba(22, 192, 152, 0.38);
    width: 80px;
    padding: 4px 12px;
}

.inactive {
    color: #DF0404;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    width: 80px;
    padding: 4px 12px;
    border-radius: 4px;
    border: 1px solid #DF0404;
    background: #FFC5C5;
}