body {
    margin: 0 auto;
    background-color: #FAFBFF;
    width: 1440px;
}

.side-menu {
    width: 306px;
    min-height: 1198px;
    background: #FFF;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);
    border-radius: 20px 0 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo svg {
    padding: 0 8px 0 0;
}

.logo-item {
    display: flex;
    align-items: baseline;
}

.logo-item h1 {
    color: #000;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.26px;
}

.logo-item span {
    color: #838383;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.1px;
    padding: 0 4px;
}

.nav-menu .list-menu {
    color: #9197B3;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.list-menu svg{
    padding: 0 14px 0 0;
}